<!-- templates/input.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Galaxy Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body class="center-screen">
    <h1>Upload Galaxy Image</h1>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".png, .jpg, .jpeg" required>
        <button type="submit">Classify</button>
    </form>
</body>
</html>
